<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<script>
    console.log('Hello console');
    var socket = io();
    socket.on('connect', function() {
        console.log('Socket Connected');
    });
    socket.on('redirect_client', function(data) {
        console.log('Redirect Request Received.');
        console.log('Current Url - ', window.location.href);
        console.log('Desired Url - ', data.url);
        if (window.location.href === data.url) {
            console.log('Refreshing');
            window.location.reload();
        }

        window.location.href = data.url;
    });
</script>
<title>{% block title %}{% endblock %}</title>
<div>
    {% block content %}{% endblock %}
</div>