{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='choose-saved.css') }}">
</head>
<body>

<article>
    <h1>Choose Saved</h1>
    <menu>
        {% if listToRender|length == 0 %}
            <p>No Saved Recipes. Pinch to go back to home</p>
        {% else %}
            {% for item in listToRender %}
                {% if loop.index == currentIndex + 1 %}
                    <li class="highlight">{{ item.name }}</li>
                {% else %}
                    <li>{{ item.name }}</li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </menu>
</article>

{% endblock %}