{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='list.css') }}">
</head>
<body>

<article>
    <h1>{{ pageTitle }}</h1>
    <menu>
        {% for item in listToRender %}
            {% if loop.index == currentIndex + 1 %}
                <li class="highlight">{{ item }}</li>
            {% else %}
                <li>{{ item }}</li>
            {% endif %}
        {% endfor %}
    </menu>
</article>

{% endblock %}